*{
    margin:0;
    padding:0;
}

 .signIncontainer p a{
    color: rgb(129, 5, 5);
 }

.bg{
    position: initial;
    z-index: -1;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; */

}

.signIncontainer{
    background-color: rgb(138, 173, 152);
    width: 40rem;
    height: 32rem;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    opacity: .9;
    border-radius: 8px;
}

::placeholder  , .signupInput{
    opacity: 1;
    color: #053d05;
}
.signupHead{
    color: rgb(1, 46, 85);
    opacity: 1;
    font-weight: bold;
    text-align: center;
}

.signupInput{
    display: flex;
    justify-content: center;
    margin:1rem auto;
    padding: .1rem;
    width: 10rem;
    text-align: center;
    border: none;
    border-radius: 4px;
}
.signupLabel,.signupSelect {
    display: flex;
    margin: 0 auto;
    padding: .1rem;
    width: 10rem;
    text-align: center;
}
.signupLabel{
    opacity: 1;
    color: #262a26;
}
.submitFormButton{
    margin: 4rem 16.5rem;
}
.alreadySignedup{
    position: relative;
    width: 30rem;
    margin-top: 6rem;
    margin-left: 34rem;
    display: flex;

}
#signupLinktologin{
    text-decoration: none;
    margin-top: -.45rem;
    color: red;
}




@media screen and (max-width: 1259px) {
    .signIncontainer{
        margin-left: 20rem;
    }
  }
@media screen and (max-width: 1097px) {
    .signIncontainer{
        margin-left: 15rem;
    }
  }
@media screen and (max-width: 946px) {
    .signIncontainer{
        margin-left: 8rem;
    }
    .alreadySignedup{
        margin-top: 5rem;
        margin-left: 16rem;
    }
  }



@media screen and (max-width: 770px) {
    #signupButton{
        margin: 4rem 6.5rem;
    }

.signIncontainer{
    background-color: rgb(138, 173, 152);
    width: 20rem;
    height: 32rem;
    border-radius: 10px;
    margin: auto;
    margin-top: 2rem;
}

.alreadySignedup{
    margin-top: 5rem;
    margin-left: 10rem;
}
  }

  @media screen and (max-width: 509px) {
    .alreadySignedup{
        margin-left: 3rem;
    }
  }
  @media screen and (max-width: 371px) {
    .alreadySignedup{
        margin-left: 1rem;
    }
  }
